@import '../../vars.css';

.container{ 
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--color-bg);
    padding: 27px 27px;
    max-width: 345px;
}

.image{
    margin-bottom: 26px;

}

.title{
    font-size: 17px;
    font-weight: 700;
    font-family: var(--font-ubuntu);
}

.description{
    margin-top: 15px;
    font-size: 17px;
    font-weight: 700px;
    color: var(--color-subtext);
}

.skills{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px;
    list-style: none;
}

.skill{
    font-size: 17px;
    font-weight: 400;
    font-family: var(--font-ubuntu);
    border-radius: 100px;
    background-color: var(--color-primary);
    padding: 2px 22px;
}

.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: underline;
    margin-left: 12px;
    color: var(--color-text);
    font-size: 17px;
    font-weight: 600;
}

.linkImg{
    width: 33px;
    height: 30px;
    border-radius: 100%;
}

@media screen and (max-width: 830px){
    .title{
        font-size: 15px;
    }
    .description{
        font-size: 15px;
    }
    .skill{
        font-size: 15px;
    }
    .container{
        background-color: rgba(50, 50, 50, 0.45);
    }
    .link{
        font-size: 15px;
    }
    .linkImg{
        width: 28px;
        height: 25px;
    }
}